 * {
     margin: 0;
     padding: 0;
     background-color: #fff;
}
html {
    width: 50%;
    margin: auto; 
    text-align: center;
}
.Logo {
    margin: 50px 0 0 0;
}
.Logo img:first-child {
    width: 50%;
}
.Logo img:last-child {
    display: none;
}
.Form {
    margin: 100px 0 0 0;
}
.Form input {
    height: 35px;
    font-size: 20px;
    text-align: center;
}
[type="text"] {
    border: 2px solid #074667;
    width: 250px;
    font-size: 20px;
    border-radius: 20px;
}
[type="password"] {
    border: 2px solid #074667;
    margin: 32px 0 0 0;
    width: 250px;
    border-radius: 20px;
}

#SingIn {
   display: block;
   float: right;
   margin: 10px auto;
   font-size: 24px;
}

}
@media screen and (max-width: 768px) {
    html {
    }
    .Logo img:first-child {
        display: none;
    }
    .Logo img:last-child {
        display:inline;
        width: 50%;
        text-align: center;
    }
    [type="submit"] {
        margin: 5px;
    }
    [type="text"] {
        width: 200px;
    }
    [type="password"] {
        width: 200px;
    }
}
